.cart_first {
  width: 100%;
  @include centerComponets(center);
}

.cart_one_container {
  display: grid;
  grid-template-columns: auto 100rem auto;
  grid-template-areas: ". main .";
  margin-top: 0;
  padding-top: 0;
  margin-top: 1.875rem;
  margin-bottom: 5rem;

  @media only screen and (min-width: 2300px) {
    grid-template-columns: auto 100rem auto;
  }
  @media only screen and (max-width: 1700px) {
    grid-template-columns: 15vw 70vw 15vw;
  }
  @media only screen and (max-width: 1500px) {
    grid-template-columns: 10vw 80vw 10vw;
  }
  @media only screen and (max-width: 1300px) {
    grid-template-columns: 5vw 90vw 5vw;
  }
  @media only screen and (max-width: 700px) {
    grid-template-columns: 2.5vw 95vw 2.5vw;
  }
}

.cart_one_wrapper {
  grid-area: main;
}

.cart_container {
  padding: 50px;
  display: flex;
  min-height: calc(80vh - 100px);

  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }

  @media screen and (min-width: 2000px) {
    width: 2000px;
    display: flex;
    justify-content: center;
  }
}

.cart_left {
  flex: 2;

  @media screen and (max-width: 1100px) {
    // display: flex;
    margin-right: 1rem;
  }
}

.cart_right {
  flex: 1;

  @media screen and (max-width: 1100px) {
    @include centerComponets(center);
  }
}

.cart_table {
  width: 100%;
  border-spacing: 3.125rem;
  text-align: left;

  @media screen and (max-width: 800px) {
    @include centerComponets(center);
    flex-direction: column;
  }
}

.cart_tr_title {
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.cart_image {
  width: 6.25rem;
  height: 6.25rem;
  position: relative;
}

.cart_product_name {
  @include styleText(500, 1.125rem, $primary_color);
}

.cart_product_total {
  @include styleText(500, 1.125rem, black);
}

.cart_wrapper {
  width: 90%;
  max-height: 18.75rem;
  background-color: #333;
  padding: 3.125rem;
  padding-top: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.cart_total_text_title {
  margin-right: 0.625rem;
}

.cart_button {
  height: 1.875rem;
  color: $primary_color;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1.25rem;
}

.cart_payment_method {
  margin: 0.625rem;
  display: flex;
  flex-direction: column;

  .cart_cash_button {
    padding: 0.625rem 0.3125rem;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #fff;
    color: teal;
    font-weight: bold;
    border-radius: 5px;
  }
}

@media screen and (max-width: 800px) {
  .cart_container {
    flex-direction: column;
    padding: 1.25rem;
  }

  .cart_table {
    @include centerComponets(center);
    flex-direction: column;
    margin-top: 1rem;
  }

  .cart_tr_title {
    display: none;
  }

  .cart_tr {
    @include centerComponets(center);
    flex-direction: column;
    margin-bottom: 1.25rem;
  }

  .cart_product_name,
  .cart_product_total {
    font-size: 1.5rem;
  }

  .cart_product_price::before {
    content: "Price: ";
    font-weight: 500;
  }

  .cart_product_quantity::before {
    content: "Quantity: ";
    font-weight: 500;
  }

  .cart_product_total::before {
    content: "Total: ";
    font-weight: 500;
  }

  .cart_wrapper {
    width: 100%;
  }
}
