.pizza_list_container {
  display: grid;
  grid-template-columns: auto 100rem auto;
  grid-template-areas: ". main .";
  margin-top: 0;
  padding-top: 0;
  margin-top: 1.875rem;
  margin-bottom: 5rem;

  @media only screen and (min-width: 2300px) {
    grid-template-columns: auto 100rem auto;
  }
  @media only screen and (max-width: 1700px) {
    grid-template-columns: 15vw 70vw 15vw;
  }
  @media only screen and (max-width: 1500px) {
    grid-template-columns: 10vw 80vw 10vw;
  }
  @media only screen and (max-width: 1300px) {
    grid-template-columns: 5vw 90vw 5vw;
  }
  @media only screen and (max-width: 700px) {
    grid-template-columns: 2.5vw 95vw 2.5vw;
  }
}

.pizza_wrapper {
  grid-area: main;
  @include centerComponets(center);
  flex-direction: column;
}

.pizza_description {
  @include styleText(normal, 1.5rem, #444);
  width: 70%;
}

.pizza_list_wrapper {
  @include centerComponets(flex-start);
  width: 100%;
  flex-wrap: wrap;
  padding: 0 50px;
}

// Pizza Card

.pizza_card_container {
  width: 25%;
  @include centerComponets(center);
  padding: 1.25rem 2.5rem;
  flex-direction: column;
  cursor: pointer;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 1000px) {
    width: 50%;
  }
}

.pizza_card_title {
  @include styleText(bold, 1.125rem, $primary_color);
  margin: 0.15rem 0;
}

.pizza_card_price {
  @include styleText(bold, 1.125rem, #666);
  margin: 0.15rem 0;
}

.pizza_card_description {
  @include styleText(bold, 1.125rem, #777);
  margin: 0.15rem 0;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .pizza_list_title {
    text-align: center;
  }

  .pizza_description {
    width: 90%;
    text-align: center;
  }

  .pizza_card_container {
    width: 100%;
  }

  .pizza_card_title {
    font-size: 30px;
  }

  .pizza_card_price,
  .pizza_card_description {
    font-size: 24px;
  }
}
