.cart_container {
  padding: 50px;
  display: flex;
}

.cart_left {
  flex: 2;
}

.cart_right {
  flex: 1;
}

.cart_table {
  width: 100%;
  border-spacing: 50px;
  text-align: left;
}

.cart_image {
  width: 100px;
  height: 100px;
  position: relative;
}

.cart_product_name {
  @include styleText(500, 1.125rem, $primary_color);
}

.cart_product_total {
  @include styleText(500, 1.125rem, black);
}

.cart_wrapper {
  width: 90%;
  max-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.cart_total_text_title {
  margin-right: 10px;
}

.cart_button {
  height: 30px;
  color: $primary_color;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.cart_payment_method {
  margin: 10px;
  display: flex;
  flex-direction: column;

  .cart_cash_button {
    padding: 10px 5px;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #fff;
    color: teal;
    font-weight: bold;
    border-radius: 5px;
  }
}

@media screen and (max-width: 480px) {
  .cart_container {
    flex-direction: column;
    padding: 20px;
  }

  .cart_table {
    @include centerComponets(center);
    flex-direction: column;
  }

  .cart_tr_title {
    display: none;
  }

  .cart_tr {
    @include centerComponets(center);
    flex-direction: column;
    margin-bottom: 20px;
  }

  .cart_product_name,
  .cart_product_total {
    font-size: 24px;
  }

  .cart_product_price::before{
    content: "Price: ";
    font-weight: 500;
  }

  .cart_product_quantity::before{
    content: "Quantity: ";
    font-weight: 500;
  }

  .cart_product_total::before{
    content: "Total: ";
    font-weight: 500;
  }

  .cart_wrapper {
    width: 100%;
  }
}
