.pizza_list_container {
  padding: 1.25rem 0.625rem;
  @include centerComponets(center);
  flex-direction: column;
}

.pizza_description {
  @include styleText(normal, 1.5rem, #444);
  width: 70%;
}

.pizza_list_wrapper {
  @include centerComponets(flex-start);
  width: 100%;
  flex-wrap: wrap;
  padding: 0 50px;
}

// Pizza Card

.pizza_card_container {
  width: 25%;
  @include centerComponets(center);
  padding: 1.25rem 2.5rem;
  flex-direction: column;
  cursor: pointer;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }
}

.pizza_card_title {
  @include styleText(bold, 1.125rem, $primary_color);
}

.pizza_card_price {
  @include styleText(bold, 1.125rem, #666);
}

.pizza_card_description {
  @include styleText(bold, 1.125rem, #777);
  text-align: center;
}

@media screen and (max-width: 480px) {
  .pizza_list_title {
    text-align: center;
  }

  .pizza_description {
    width: 90%;
    text-align: center;
  }

  .pizza_card_container {
    width: 100%;
  }

  .pizza_card_title {
    font-size: 30px;
  }

  .pizza_card_price,
  .pizza_card_description {
    font-size: 24px;
  }
}
