.product_container {
  height: calc(80vh - 100px);
  display: flex;
  @include centerComponets(center);
}

.product_left {
  flex: 1;
  height: 100%;
  @include centerComponets(center);

  @media screen and (max-width: 1000px) {
    flex: 1.5;
  }
}

.product_right {
  flex: 1;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product_image_container {
  width: 80%;
  height: 80%;
  position: relative;
}

.product_title {
}

.product_price {
  @include styleText(400, 1.5rem, $primary_color);
  width: fit-content;
  border-bottom: 1px solid $primary_color;
}

.product_description {
}

.product_sizes {
  display: flex;
  width: 40%;
  justify-content: space-between;
  cursor: pointer;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.product_size {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;

  @media screen and (max-width: 1000px) {
    margin: 1rem 0;
  }
}

.product_size:nth-child(2) {
  width: 2.5rem;
  height: 2.5rem;
}

.product_size:nth-child(3) {
  height: 3.125rem;
  width: 3.125rem;
}

.product_number {
  position: absolute;
  top: -5px;
  right: -20px;
  background-color: teal;
  color: white;
  font-size: 0.75rem;
  padding: 0 5px;
  border-radius: 10px;
}

.product_ingredients {
  display: flex;
  margin-bottom: 1.875rem;
}

.product_option {
  display: flex;
  align-items: center;
  margin-right: 0.625rem;
  font-size: 0.875rem;
  font-weight: 400;
}

.product_ingredients_checkbox {
  width: 1.25rem;
  height: 1.25rem;
}

.product_add {
}

.product_quantity {
  width: 3.125rem;
  height: 1.875rem;
}

.product_cart {
  height: 1.875rem;
  margin-left: 0.625rem;
  background-color: $primary_color;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .product_container {
    height: auto;
    text-align: center;
    flex-direction: column;
  }

  .product_image_container {
    width: 70vw;
    height: 70vh;
  }

  .product_sizes {
    width: 100%;
    padding: 0 1.25rem;
  }

  .product_ingredients {
    flex-direction: column;
  }

  .product_option {
    margin: 0.625rem;
    font-size: 1.125rem;
  }

  .product_ingredients_checkbox {
    width: 1.5625rem;
    height: 1.5625rem;
  }

  .product_cart,
  .product_quantity {
    height: 3.125rem;
    padding: 0.625rem 1.25rem;
  }
}
